* {
	margin: 0;
	padding: 0;
}

html {
	overflow: hidden;
	font: 12px Helvetica, Arial, sans-serif;
	background: #dec;
	color: #fff;
}

#map {
	position: relative;
}

#map img {
	width: 100%;
}

#map .marker {
	width: 14px;
	height: 14px;
	padding: 2px;
	margin: -12px;
	position: absolute;
	border: 2px solid #fff;
	border-radius: 10px;
	background: #333;
	background: hsl(255,80%,40%);
	text-align: center;
}

#ctrl {
	width: 100%;
	height: 28px;
	padding: 6px 0;
	background: #333;
	position: fixed;
	bottom: 0;
	left: 0;
}

#ctrl > * {
	height: 22px;
	padding: 2px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #ccc;
	font-size: 18px;
	cursor: pointer;
}

#ctrl > *:hover {
	background: #eee;
}

#ctrl .clock {
	width: 52px;
	float: right;
	background: transparent;
	border-color: transparent;
}

#ctrl .progress {
	margin: 0 242px 0 6px;
}

#ctrl .progress .bar {
	width: 0;
	height: 100%;
	background: #333;
	border-radius: 4px;
}

#ctrl .button {
	width: 22px;
	float: right;
	margin: 0 6px 0 0;
	text-align: center;
	color: #333;
}

#ctrl .button.runners {
	width: 64px;
}

#runners {
	width: 250px;
	height: 340px;
	border: 4px solid #333;
	border-width: 4px 0 0 4px;
	border-radius: 6px 0 0 0;
	background: #eee;
	overflow: auto;
	position: fixed;
	bottom: 40px;
	right: 0;
	display: none;
}

#runners label {
	float: left;
	width: 40px;
	margin: 8px 0 0 8px;
	color: #333;
}

#runners label input {
	margin-right: 4px;
}
